# API
BILSTM_PATH=models/bilstm/best_model.pt
FORM_MODEL_PATH=models/form_scorer.pkl
SCALER_PATH=data/processed/sequences/sequence_scaler.pkl
MAX_VIDEO_SIZE_MB=200

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# Streamlit
API_URL=http://localhost:8000
